*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/shelf/*
/.idea/inspectionProfiles/*
/.idea/vcs.xml
/.idea/misc.xml
